
    <!-- Footer Section -->
    <section class="footer">
        <div class="sectionContainer container">
        <div class="mainContent grid">

            <div class="introDiv">
                <div class="logoDiv flex">
                    <img src="./Assets/logo.png" alt="Logo Image">
                    <h3>HomFinder</h3>
                </div>

                <p>We work to ensure digital accessiblity for individuals.</p>

                <div class="payment flex">
                    <img src="./Assets/mastercard.png" alt="sponsor logo">
                    <img src="./Assets/paypal.png" alt="sponsor logo">
                    <img src="./Assets/visa.png" alt="sponsor logo">
                </div>
            </div>

            <div class="support">
                <div class="title">
                    <h2>Support</h2>
                </div>
                <ul>
                    <li>Help Videos</li>
                    <li>Accessories</li>
                    <li>Support</li>
                    <li>View Bookings</li>
                    <li>Features</li>
                </ul>
            </div>

            <div class="services">
                <div class="title">
                    <h2>Services</h2>
                </div>
                <ul>
                    <li>Payment & Tips</li>
                    <li>Owning</li>
                    <li>Renting</li>
                    <li>Terms & Service</li>
                    <li>Q&A</li>
                </ul>
            </div>

            <div class="about">
                <div class="title">
                    <h2>About</h2>
                </div>
                <ul>
                    <li>About Us</li>
                    <li>History</li>
                    <li>Contact</li>
                    <li>News</li>
                    <li>Jobs</li>
                </ul>
            </div>

            <div class="address">
                <div class="title">
                    <h2>Address</h2>
                </div>
                <p>5421 - Jumeirah Village, Sheik Saeed Road - Dubai</p>
                <div class="socials flex">
                    <i class='bx bxl-facebook icon'></i>
                    <i class='bx bxl-twitter icon' ></i>
                    <i class='bx bxl-instagram-alt icon' ></i>
                    <i class='bx bxl-telegram icon' ></i>
                </div>
            </div>
        
        </div>

        <div class="lowerDivision flex">
            <p>All rights reserved - João Bogo 2022</p>
            <ul class="flex">
                <p>Services</p>
                <p>Partners</p>
                <p>Feedbacks</p>
                <p>Bookings</p>
            </ul>
        </div>
        </div>
    </section>
<!-- Footer Section Ends -->

<!-- Link swiper.js -->
<script src="./swiper-bundle.min.js"></script>
<!-- Link to JS -->
<script src="./index.js"></script>
</body>
</html> 